
.footer{
    background-color: rgb(1, 7, 49);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.footerText{
    line-height: 30px;
    font-family: $font;
    color: white;
    font-weight: 500;
}