.open{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
    background-color: #046cade9;
    border-radius: 7px;
    position: absolute;
    top: 45px;
    right: 12px;
    box-shadow: 1px 1px 10px white;
}

.open div{
    list-style: none;
    padding: 10px 25px 10px 25px;
}

.page2{
    border-top: 0.5px solid rgba(255, 255, 255, 0.322);

}

.open div a{
    color: white;

}